.about {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.about h1 {
  color: #0b1827;
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
}

.about__image {
  justify-content: start;
  width: 14%;
}

.about__image img {
  max-width: 100%;
  object-fit: cover;
  margin: 1%;
}

.aboutContentDescription {
  justify-content: end;
  width: 83%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.descriptionLink {
  text-align: center;
  font-size: 1.5rem;
}

.descriptionLink a {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}
