.title {
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #e5cf41 0%,
    #c3683c 25%,
    #3db02f 40%,
    #CF21CE 75%,    
    #a91be0 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.homeTestimonial {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.homeTestimonialContainer {
  width: 35%;
}

.testimonialImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.testimonialImage img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 1%;
}
